[Unit]
Description=Airflow scheduler daemon
ConditionPathExists={{ airflow_home }}/airflow.db
            
[Service]
EnvironmentFile={{ airflow_home }}/environment.sh
User=airflow
Type=simple
ExecStart=/bin/bash -c 'airflow scheduler'
Restart=on-failure
