[Unit]
Description=Airflow webserver daemon
ConditionPathExists={{ airflow_home }}/airflow.db

[Service]
EnvironmentFile={{ airflow_home }}/environment.sh
User=airflow
Type=simple
ExecStart=/bin/bash -c 'airflow webserver --port 8080'
Restart=on-failure
